body{
    background-color:#00A1D4;
}
.container{
    width: 1440px;
    height: 1024px; 
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.container img{
    position: absolute;
    left: -230px;
    top: 0;
}
.box1{
    width: 100px;
    height: 43px;
    flex-shrink: 0; 
    background-color: #B6A727;;
    font-size: 21px;
    color: white;

}
.box2{
    width: 90px;
    height: 43px;
    background-color:#27ADB6;;
    font-size: 21px;
    color:  #FFF;

}
.box3{
    width: 110px;
    height: 43px;
    background-color: #27ADB6;
    font-size: 21px;
    color:  #FFF;

}
.box4{
    width: 100px;
    height: 43px;
    background-color: #27ADB6;
    font-size: 21px;
    color:  #FFF;
}
.box5{
    width: 560px;
    height: 90px;
    flex-shrink: 0; 
    background: #D96728;
    color: #FFF;
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;
    top: 120px;
    left: 630px;
}
.box6{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal; 
position: absolute;
top: 240px;
    left: 800px;
}
.container1{
    position: absolute;
    top: 230px;
    left: 500px;
}
.box7{
    width: 1910.256px;
    height: 1px; 
    background-color: #FFF;
    position: absolute;
    top: 420px;
}
.box-pic{
    width: 400px;
    height: 500px; 
    background-color: #FFF;
    position: absolute;
    top: 450px;

}